/.cache/
/.fabric/
/command_history.txt
/config/chatcalc.json
/config/chunksfadein.properties
/config/entityculling.json
/config/fabric/
/config/freecam.json5
/config/indium-renderer.properties
/config/iris.properties
/config/jei
/config/jei/world
/config/ok_zoomer/config.toml
/config/respackopts/
/config/sodium*.json
/config/sodium*.properties
/config/stack-to-nearby-chests/locked-slots
/config/vmp.properties
/config/xaero*
/crash-reports/
/data/fabricDefaultResourcePacks.dat
/data/resourcepacks/Default/respackopts.json5
/data/servers_playtime.dat
/downloads/
/emi.json
/fancymenu_data/
/fancymenu_setups/
/instance.json
/logs/
/options.txt
/profile.json
/resourcepacks/
/saves/
/screenshots/
/servers.dat
/servers.dat_old
/shaderpacks/*.txt
/usercache.json
/usernamecache.json
/xaero/
config/jade
config/yosbr/config/jade/usernamecache.json
Default.rpo
realms_persistence.json
