.fabric/
/emi.json
/instance.json
/options.amecsapi.txt
/options.txt
/profile.json
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json
command_history.txt
crash-reports/
data/seasons_compat_warn.nbt
fabricDefaultResourcePacks.dat
fancymenu_data/
fancymenu_setups/
logs/
milestone/config/iris
milestone/data/
realms_persistence.json
saves/
screenshots/
workspace/exports
