/.cache/
/.fabric/
/command_history.txt
/config/enhanced_bes.properties
/config/entityculling.json
/config/ferritecore.mixin.properties
/config/indium-renderer.properties
/config/iris.properties
/config/jei/world
/config/moreculling.toml
/config/respackopts/
/config/sodium*.json
/crash-reports/
/data/fabricDefaultResourcePacks.dat
/data/resourcepacks/Default/respackopts.json5
/data/servers_playtime.dat
/downloads/
/emi.json
/fabric/
/fancymenu_data/
/fancymenu_setups/
/instance.json
/logs/
/options.txt
/profile.json
/resourcepacks/
/saves/
/screenshots/
/servers.dat
/servers.dat_old
/shaderpacks/*.txt
/usercache.json
/usernamecache.json
/xaero/
Default.rpo
realms_persistence.json
